<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{card?.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="card?.cardId">
  <ion-card color="accent">
    <ion-card-header>
      <ion-card-subtitle>
        {{card?.type}}
      </ion-card-subtitle>
      <ion-card-title>
        {{card?.name}}
      </ion-card-title>
      <img [src]="card.img" (error)="updateImage($event)">
    </ion-card-header>

    <ion-card-content>
      <p *ngIf="card.text" [innerHTML]="card.text"></p>
      <p *ngIf="card.flavor">{{card.flavor}}</p>
      <ion-label> <!-- It'd probssbly be better to `const` this list in the page and iterate through it-->
        <h2 *ngIf="card.attack">Attack: {{card.attack}}</h2>
        <h2 *ngIf="card.health">Health: {{card.health}}</h2>
        <h2 *ngIf="card.rarity">Rarity: {{card.rarity}}</h2>
        <h2 *ngIf="card.faction">faction: {{card.faction}}</h2>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>