<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{cardDeckGroup}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-search [items]="copyOfCards" 
              [filteredProperty]="'name'"
              (searchCompleted)="hydrateCards($event)"
              (searchStarted)="handleSearch()"></app-search>
  <ion-spinner class="ion-text-center" *ngIf="isLoading"></ion-spinner>
  <!-- FIXME: figure out how to set bg color of the refresher when overpulling -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="cards.length > 0">
    <ion-card *ngFor="let card of cards" color="tertiary">
      <ion-card-header>
        <ion-card-subtitle>
          {{card.cardSet}}
        </ion-card-subtitle>
        <ion-card-title>
          {{card.name}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div [innerHTML]="card.text"></div>
        <ion-button size='medium' expand='full' [routerLink]="['/tabs/card/', card.cardId]">
          Details
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>